@model e_commmerce.Entities.AccountViewModel

@{
    ViewData["Title"] = "Account";
    Layout = "_Layout";
}

<!-- pos page start -->
<div class="pos_page">
    <div class="container">
        <!-- pos page inner -->
        <div class="pos_page_inner">
            <!-- breadcrumbs area start -->
            <div class="breadcrumbs_area">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb_content">
                            <ul>
                                <li><a href="index.html">home</a></li>
                                <li><i class="fa fa-angle-right"></i></li>
                                <li>my account</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumbs area end -->
            <!-- Start Maincontent -->
            <section class="main_content_area">
                <div class="account_dashboard">
                    <div class="row">
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <!-- Nav tabs -->
                            <div class="dashboard_tab_button">
                                <ul role="tablist" class="nav flex-column dashboard-list">
                                    <li><a href="#dashboard" data-toggle="tab" class="nav-link active">Dashboard</a></li>
                                    <li><a href="#orders" data-toggle="tab" class="nav-link">Orders</a></li>
                                    <li><a href="#address" data-toggle="tab" class="nav-link">Addresses</a></li>
                                    <li><a href="#account-details" data-toggle="tab" class="nav-link">Account details</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-9 col-lg-9">
                            <!-- Tab panes -->
                            <div class="tab-content dashboard_content">
                                <div class="tab-pane fade show active" id="dashboard">
                                    <h3>Dashboard</h3>
                                    <p>From your account dashboard, you can easily check & view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a>, and <a href="#">edit your password and account details.</a></p>
                                </div>
                                <div class="tab-pane fade" id="orders">
                                    <h3>Orders</h3>
                                    <div class="coron_table table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Order</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                    <th>Total</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>May 10, 2018</td>
                                                    <td><span class="success">Completed</span></td>
                                                    <td>$25.00 for 1 item</td>
                                                    <td><a href="cart.html" class="view">view</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>May 10, 2018</td>
                                                    <td>Processing</td>
                                                    <td>$17.00 for 1 item</td>
                                                    <td><a href="cart.html" class="view">view</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="address">
                                    <p>The following address will be used on the checkout page by default.</p>
                                    @if (Model.BillingAddress != null)
                                    {
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th>Full Name</th>
                                                    <td>@Model.Account.FirstName @Model.Account.LastName</td>
                                                </tr>
                                                <tr>
                                                    <th>Company Name</th>
                                                    <td>@Model.BillingAddress.CompanyName</td>
                                                </tr>
                                                <tr>
                                                    <th>Street Address</th>
                                                    <td>@Model.BillingAddress.Streetaddress</td>
                                                </tr>
                                                <tr>
                                                    <th>Town / City</th>
                                                    <td>@Model.BillingAddress.City</td>
                                                </tr>
                                                <tr>
                                                    <th>State / County</th>
                                                    <td>@Model.BillingAddress.County</td>
                                                </tr>
                                                <tr>
                                                    <th>Phone</th>
                                                    <td>@Model.BillingAddress.Phone</td>
                                                </tr>
                                                <tr>
                                                    <th>Email</th>
                                                    <td>@Model.Account.Email</td>
                                                </tr>
                                                <tr>
                                                    <th>Country</th>
                                                    <td>@Model.BillingAddress.Country</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <a href="#" class="view" data-toggle="modal" data-target="#editBillingAddressModal">Edit</a>
                                    }
                                    else
                                    {
                                        <p>No billing address found.</p>
                                        <a href="#" class="view" data-toggle="modal" data-target="#createBillingAddressModal">Create</a>
                                    }
                                </div>


                                <div class="tab-pane fade" id="account-details">
                                    <h3>Account details</h3>
                                    <div class="login">
                                        <div class="login_form_container">
                                            <div class="account_login_form">
                                                <form action="#">
                                                    <p>Already have an account? <a href="#">Log in instead!</a></p>
                                                    <div class="input-radio">
                                                        <span class="custom-radio"><input type="radio" value="1" name="id_gender"> Mr.</span>
                                                        <span class="custom-radio"><input type="radio" value="1" name="id_gender"> Mrs.</span>
                                                    </div> <br>
                                                    <label>First Name</label>
                                                    <input type="text" name="first-name">
                                                    <label>Last Name</label>
                                                    <input type="text" name="last-name">
                                                    <label>Email</label>
                                                    <input type="text" name="email-name">
                                                    <label>Password</label>
                                                    <input type="password" name="user-password">
                                                    <label>Birthdate</label>
                                                    <input type="text" placeholder="MM/DD/YYYY" value="" name="birthday">
                                                    <span class="example">(E.g.: 05/31/1970)</span>
                                                    <br>
                                                    <span class="custom_checkbox">
                                                        <input type="checkbox" value="1" name="optin">
                                                        <label>Receive offers from our partners</label>
                                                    </span>
                                                    <br>
                                                    <span class="custom_checkbox">
                                                        <input type="checkbox" value="1" name="newsletter">
                                                        <label>Sign up for our newsletter<br><em>You may unsubscribe at any moment. For that purpose, please find our contact info in the legal notice.</em></label>
                                                    </span>
                                                    <div class="save_button primary_btn default_button">
                                                        <a href="#">Save</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal for editing billing address -->
                                <div class="modal fade" id="editBillingAddressModal" tabindex="-1" role="dialog" aria-labelledby="editBillingAddressModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editBillingAddressModalLabel">Billing Address</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="editBillingAddressForm" method="post" action="@Url.Action("UpdateBillingAddress", "Home")">
                                                    <input type="hidden" name="Id" value="@Model.BillingAddress.Id" />
                                                    <div class="form-group">
                                                        <label for="FirstName">First Name</label>
                                                        <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.Account.FirstName">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="LastName">Last Name</label>
                                                        <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.Account.LastName">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="CompanyName">Company Name</label>
                                                        <input type="text" class="form-control" id="CompanyName" name="CompanyName" value="@Model.BillingAddress.CompanyName">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Streetaddress">Street Address</label>
                                                        <input type="text" class="form-control" id="Streetaddress" name="Streetaddress" value="@Model.BillingAddress.Streetaddress">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="City">City</label>
                                                        <input type="text" class="form-control" id="City" name="City" value="@Model.BillingAddress.City">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="County">County</label>
                                                        <input type="text" class="form-control" id="County" name="County" value="@Model.BillingAddress.County">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Phone">Phone</label>
                                                        <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.BillingAddress.Phone">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Email">Email</label>
                                                        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Account.Email">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Country">Country</label>
                                                        <input type="text" class="form-control" id="Country" name="Country" value="@Model.BillingAddress.Country">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" form="editBillingAddressForm">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Modal -->
                                <!-- Modal for creating billing address -->
                                <div class="modal fade" id="createBillingAddressModal" tabindex="-1" role="dialog" aria-labelledby="createBillingAddressModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="createBillingAddressModalLabel">Billing Address</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="createBillingAddressForm" method="post" action="@Url.Action("CreateBillingAddress", "Home")">
                                                    <input type="hidden" name="Id" value="@Model.BillingAddress.Id" />
                                                    <div class="form-group">
                                                        <label for="FirstName">First Name</label>
                                                        <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.Account.FirstName">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="LastName">Last Name</label>
                                                        <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.Account.LastName">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="CompanyName">Company Name</label>
                                                        <input type="text" class="form-control" id="CompanyName" name="CompanyName" value="@Model.BillingAddress.CompanyName">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Streetaddress">Street Address</label>
                                                        <input type="text" class="form-control" id="Streetaddress" name="Streetaddress" value="@Model.BillingAddress.Streetaddress">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="City">City</label>
                                                        <input type="text" class="form-control" id="City" name="City" value="@Model.BillingAddress.City">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="County">County</label>
                                                        <input type="text" class="form-control" id="County" name="County" value="@Model.BillingAddress.County">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Phone">Phone</label>
                                                        <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.BillingAddress.Phone">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Email">Email</label>
                                                        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Account.Email">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Country">Country</label>
                                                        <input type="text" class="form-control" id="Country" name="Country" value="@Model.BillingAddress.Country">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" form="createBillingAddressForm">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Modal -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Maincontent -->
        </div>
        <!-- pos page inner end -->
    </div>
</div>
<!-- pos page end -->
