@model IEnumerable<e_commmerce.Entities.Cart>

@{
    Layout = "_Layout";
}

<body>
    <div class="shopping_cart_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_remove">Hành động</th>
                                        <th class="product_thumb">Hình ảnh</th>
                                        <th class="product_name">Sản phẩm</th>
                                        <th class="product-price">Giá tiền</th>
                                        <th class="product_quantity">Số lượng</th>
                                        <th class="product_total">Tổng tiền hàng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="product_remove">
                                                <form asp-action="RemoveFromCart" asp-controller="Cart" method="post">
                                                    <input type="hidden" name="cartItemId" value="@item.Id" />
                                                    <button type="submit">Xóa</button>
                                                </form>
                                            </td>
                                            <td class="product_thumb">
                                                <a href="#"><img src="@item.Product.ImagePath" alt="Product Image"></a>
                                            </td>
                                            <td class="product_name">
                                                <a href="#">@item.Product.Name</a>
                                            </td>
                                            <td class="product-price">
                                                @item.Product.Price.ToString("#,#")₫
                                            </td>
                                            <td class="product_quantity">
                                                <form asp-action="UpdateQuantity" asp-controller="Cart" method="post">
                                                    <input type="hidden" name="cartItemId" value="@item.Id" />
                                                    <input type="number" name="quantity" value="@item.Quantity" min="1" max="100" />
                                                    <button type="submit">Update</button>
                                                </form>
                                            </td>
                                            <td class="product_total">
                                                $@(item.Quantity * item.Product.Price)
                                            </td>
                                        </tr>
                                    }
                                    <!--coupon code area start-->
                                    <div class="coupon_area">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="coupon_code">
                                                    <h3>Coupon</h3>
                                                    <div class="coupon_inner">
                                                        <p>Enter your coupon code if you have one.</p>
                                                        <input placeholder="Coupon code" type="text">
                                                        <button type="submit">Apply coupon</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="coupon_code">
                                                    <h3>Cart Totals</h3>
                                                    <div class="coupon_inner">
                                                        <div class="cart_subtotal">
                                                            <p>Tổng tiền hàng</p>
                                                            <p class="cart_amount">$@Model.Sum(item => item.Quantity * item.Product.Price)</p>
                                                        </div>
                                                        <div class="cart_subtotal ">
                                                            <p>Phí vận chuyển</p>
                                                            <p class="cart_amount"><span>Flat Rate:</span> £255.00</p>
                                                        </div>
                                                        <a href="#">Calculate shipping</a>

                                                        <div class="cart_subtotal">
                                                            <p>Tổng thanh toán</p>
                                                            <p class="cart_amount">$@Model.Sum(item => item.Quantity * item.Product.Price)</p>
                                                        </div>

                                                        <div class="checkout_btn">
                                                            <a asp-action="Checkout" asp-controller="Cart">Proceed to Checkout</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--coupon code area end-->
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5">Tổng Tiền</td>
                                        <td>$@Model.Sum(item => item.Quantity * item.Product.Price)</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Include JavaScript files -->
</body>
</html>