@model List<e_commmerce.Entities.Product>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Shop";
    var categories = ViewData["Categories"] as List<e_commmerce.Entities.Category>;
    var colors = ViewData["Colors"] as List<e_commmerce.Entities.Color>;
}

<div class="pos_page">
    <div class="container">
        <div class="pos_page_inner">
            <div class="pos_home_section">
                <div class="row pos_home">
                    <div class="col-lg-3 col-md-12">
                        <div class="sidebar_widget shop_c">
                            <div class="categorie__titile">
                                <h4>Categories</h4>
                            </div>
                            <div class="layere_categorie">
                                <ul>
                                    @if (categories != null)
                                    {
                                        foreach (var category in categories)
                                        {
                                            <li>
                                                <label for="category-@category.Cid">
                                                    <a href="@Url.Action("Shop", "Products", new { orderby = ViewBag.OrderBy, categoryId = category.Cid })">
                                                        @category.Name <span>(@category.Products.Count)</span>
                                                    </a>
                                                </label>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar_widget color">
                            <h2>Color</h2>
                            <div class="widget_color">
                                <ul>
                                    @if (colors != null)
                                    {
                                        foreach (var color in colors)
                                        {
                                            <li>
                                                <a href="@Url.Action("Shop", "Products", new { orderby = ViewBag.Orderby, selectedColors = color.Id })">
                                                    @color.Name
                                                    <span>(@color.Products.Count)</span>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="banner_slider mb-35">
                            <img src="~/img/banner/bannner10.jpg" alt="">
                        </div>
                        <div class="shop_toolbar list_toolbar mb-35">
                            <div class="list_button">
                                <ul class="nav" role="tablist">
                                    <li>
                                        <a data-toggle="tab" href="#large" role="tab" aria-controls="large" aria-selected="true"><i class="fa fa-th-large"></i></a>
                                    </li>
                                    <li>
                                        <a class="active" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false"><i class="fa fa-th-list"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="page_amount">
                                <p>Showing 1–9 of @Model.Count results</p>
                            </div>
                            <div class="select_option">
                                <form asp-action="Shop" asp-controller="Products" method="get">
                                    <label>Sort By</label>
                                    <select name="orderby" id="short">
                                        <option value="position">Position</option>
                                        <option value="price-lowest">Price: Lowest</option>
                                        <option value="price-highest">Price: Highest</option>
                                        <option value="name-ascending">Product Name: A-Z</option>
                                    </select>
                                    <button type="submit">Sort</button>
                                </form>
                            </div>
                        </div>
                        <div class="shop_tab_product">
                            <div id="product-list">
                                @Html.Partial("~/Views/Products/_ProductListPartial.cshtml", Model)
                            </div>
                            <button id="load-more-button" data-skip="6" data-take="6">Load More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 600000,
                values: [00, 500],
                slide: function (event, ui) {
                    $("#amount").val(ui.values[0] + "₫ - " + ui.values[1] + "₫");
                },
                stop: function (event, ui) {
                    filterProducts(ui.values[0], ui.values[1]);
                }
            });
            $("#amount").val($("#slider-range").slider("values", 0) +
                "₫ - " + $("#slider-range").slider("values", 1) + "₫");
        });

        function filterProducts(minPrice, maxPrice) {
            $.ajax({
                url: "@Url.Action("Shop", "Products")",
                type: "GET",
                data: {
                    minPrice: minPrice,
                    maxPrice: maxPrice
                },
                success: function (data) {
                    $(".shop_tab_product").html(data);
                },
                error: function () {
                    alert("An error occurred while filtering products.");
                }
            });
        };

        $(document).ready(function () {
            $('#load-more-button').click(function () {
                var skip = $(this).data('skip');
                var take = $(this).data('take');

                $.ajax({
                    url: '@Url.Action("LoadMore", "Products")',
                    type: 'POST',
                    data: { skip: skip, take: take },
                    success: function (response) {
                        if (response.success === false) {
                            alert(response.message);
                            $('#load-more-button').hide();
                        } else {
                            $('#product-list').append(response);
                            $('#load-more-button').data('skip', skip + take);
                        }
                    }
                });
            });
        });
    </script>
}

